@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

body {
    font-family: 'Avenir', sans-serif;
    background-color: #44403b;
}


.pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logInContainer {
    margin-top: 100px;
    width: 350px;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    padding: 20px;
    border-radius: 20px;
    color: #2b2823;
}

.logInFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2823;
}

.logInForm {
    width: 100%;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.logInInput {
    width: 100%;
}

.logInButton {
    width: 100%;
    margin-top: 20px;
    background-color: #c44601;
    border-radius: 7px;
    border: none;
    padding: 7px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    cursor: pointer;

}

.logInButton:hover {
    background-color: #8babf1; /* Darker blue on hover */
    color: black;
}

.noAccount {
    color: #2b2823;
    justify-content: center;
    align-items: center;
}

.signUpLink {
    display: inline-block;
    padding: 7px;
    background-color: #054fb9;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    transition: background-color 0.5s;
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

.signUpLink:hover {
    background-color: #8babf1; /* Darker blue on hover */
    color: black;
}
