<!-- File: index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Provo SMU MH</title>
</head>
<body>

    <%- navbar %>

    <div class="welcome-block">
        <h2>Welcome to Provo Social Media Usage and Mental Health </h2>
        <p>Welcome to our platform dedicated to exploring the intricate relationship between 
            social media usage and mental health. In a world increasingly interconnected 
            through digital channels, our mission is to provide insightful perspectives, 
            evidence-based information, and practical resources. Please take a look around and consider 
            taking our survey below to help us in our efforts to improve mental health.</p>
    </div>

    <div class="purpose-block">
        <h2>Our Purpose</h2>
        <p>At Provo SMU MH, we are dedicated to exploring the impact of social media on mental health. Our mission is to provide insights, resources, and strategies to promote a balanced and positive digital experience. Join us in navigating the intersection of technology and well-being for a healthier online presence.</p>
        <a class="survey-link" href="/survey">Take our Survey</a>
    </div>

</body>
</html>
