<!-- HTML5 document type declaration -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the character set to UTF-8 -->
    <meta charset="UTF-8">
    
    <!-- Link to external CSS stylesheets -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/password.css">
    
    <!-- Set the title of the document -->
    <title>Title</title>
</head>
<body>
    <!-- Container for the body content -->
    <div class="body-container">
        <!-- Container for the header -->
        <div class="header-container">
            <!-- Heading for the page -->
            <h1>Password Change</h1>
        </div>
        
        <!-- Displaying the username dynamically -->
        <h2><%- username %></h2>
        
        <!-- Displaying a dynamic message -->
        <%- message %>
        
        <!-- Container for the main content -->
        <div class="content-container">
            <!-- Label and input field for old password -->
            <label for="old_password">Old Password</label> <br>
            <input type="password" id="old_password" name="old_password" class="required, signUpInput" maxlength="30" onkeyup="validateOldPassword()"> <br>
            <!-- Displaying a message for old password validation -->
            <span id="oldPasswordMessage"></span>
            
            <!-- Label and input field for new password -->
            <label for="new_password">New Password</label> <br>
            <input type="password" id="new_password" name="new_password" class="required, signUpInput" maxlength="30"  placeholder="At least 6 characters" onkeyup="validatePassword()"> <br>
            <!-- Displaying a message for new password validation -->
            <span id="pwMessage"></span>
            
            <!-- Label and input field for password confirmation -->
            <label for="password_confirm">Confirm Password</label> <br>
            <input type="password" id="password_confirm" name="password_confirm" class="required, signUpInput" maxlength="30" onkeyup="validatePasswordConfirm()">
            <!-- Displaying a message for password confirmation validation -->
            <span id="pwConfirmMessage"></span> <br>
            
            <!-- Link to go back to the profile view -->
            <a href="/viewProfile">Go Back</a>
        </div>
    </div>
</body>
</html>
