<!-- HTML5 document type declaration -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the character set to UTF-8 -->
    <meta charset="UTF-8">
    
    <!-- Link to external CSS stylesheets -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/password.css">
    <script src="pages/change-password.js"></script>
    <title>Change Password</title>

</head>
<body>
<div class="body-container">
    <div class="header-container">
        <h1>Password Change</h1>
    </div>
    <h2><%- username %></h2>
    <form name="change-password" action="/change-password" method="post">
        <%- message %>
        <div class="content-container">
            <label for="old_password">Old Password</label>
            <input type="password" id="old_password" name="old_password" class="required, signUpInput" maxlength="30"
                   onkeyup="validateOldPassword()"> <br>
            <span id="oldPasswordMessage"></span>
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" class="required, signUpInput" maxlength="30"
                   placeholder="At least 6 characters" onkeyup="validateNewPassword()"> <br>
            <span id="pwMessage"></span>
            <label for="password_confirm">Confirm Password</label>
            <input type="password" id="password_confirm" name="password_confirm" class="required, signUpInput"
                   maxlength="30" onkeyup="validateNewPasswordConfirm()">
            <span id="pwConfirmMessage"></span> <br><br>
            <input type="submit" value="Change Password" id="password_change_button" class="button" disabled="disabled">
            <a href="/viewProfile">Go Back</a>
        </div>
    </form>

</div>
</body>
</html>
