<!-- HTML5 document type declaration -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the character set to UTF-8 -->
    <meta charset="UTF-8">
    <!-- Set the viewport settings for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to external CSS stylesheets -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/resources.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- Set the title of the document -->
    <title>Resources - Provo SMU MH</title>
</head>

<body>

    <!-- Include the navigation bar content dynamically -->
    <%- navbar %>

    <!-- Main heading for the page -->
    <h1 class="socialMedia">Social Media and Mental Health Resources</h1>
    <br>

    <!-- Container for resource categories -->
    <div class="container">
        <div class="category" id="category1">
            <i class="icon" data-feather="heart"></i>
            <div class="title">Intention</div>
        </div>

        <div class="category" id="category2">
            <i class="icon" data-feather="smartphone"></i>
            <div class="title">Phone</div>
        </div>

        <div class="category" id="category3">
            <i class="icon" data-feather="smile"></i>
            <div class="title">Health</div>
        </div>
    </div>
    <br>

    <!-- Subheading for improvement tips -->
    <h2 class="improvement">Improvement Tips:</h2>
    <br>

    <!-- Container for accordion sections -->
    <div class="container2">
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">Intention<span class="dropdown-arrow"></span></div>
            <div class="accordion-content">
                <p>Establish a daily phone usage curfew</p>
                <p>Have a purpose when getting on social media</p>
                <p>Leave your phone in another room</p>
                <p>Evaluate if you are a passive or active user</p>
                <p>Prioritize interacting with people face-to-face</p>
                <p>Look to more news sources to stay informed </p>
            </div>
        </div>
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">Phone<span class="dropdown-arrow"></span></div>
            <div class="accordion-content">
                <p>Set your phone to grayscale</p>
                <p>Use time limits</p>
                <p>Track the time you spend and set goals</p>
                <p>Disable push notifications</p>
                <p>Take social media apps off your smartphone</p>
                <p>Mute or unfollow accounts</p>
                <p>Change the location of the apps on your phone</p>
            </div>
        </div>
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">Health<span class="dropdown-arrow"></span></div>
            <div class="accordion-content">
                <p>Join a club</p>
                <p>Interact with strangers</p>
                <p>Express gratitude</p>
                <p>Practice mindfulness</p>
                <p>Participate in volunteer work</p>
                <p>Get outside</p>
            </div>
        </div>
    </div>
    <br>

    <!-- List container outside the .container div -->
    <div class="listContainer">
        <h2>For more information see these articles:</h2>
        <ul>
            <!-- List items with links to articles -->
            <li>
                <a href="https://www.dfinow.org/10-ways-to-spend-less-time-on-social-media-to-reduce-addictive-side-effects-on-teens/"
                    target="_blank">
                    - 10 Ways to Spend Less Time on Social Media to Reduce Addictive Side Effects on Teens
                </a>
            </li>
            <li>
                <a href="https://jedfoundation.org/resource/understanding-social-media-use-and-balance/?gad_source=1&gclid=Cj0KCQiAsburBhCIARIsAExmsu4GRyI0v5KSycoShcpiqsX3WkSLxUvAn-SU9cSoFMoR_tABZgpLAqoaAoDhEALw_wcB"
                    target="_blank">
                    - Understanding Social Media Use and Balance
                </a>
            </li>
            <li>
                <a href="https://www.helpguide.org/articles/mental-health/social-media-and-mental-health.htm"
                    target="_blank">
                    - Social Media and Mental Health
                </a>
            </li>
        </ul>
    </div>

    <!-- Include Feather Icons library -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <!-- Script to toggle accordion sections and activate Feather Icons -->
    <script>
        function toggleAccordion(accordion) {
            accordion.classList.toggle('active');
            const content = accordion.querySelector('.accordion-content');

            // Toggle the max-height property
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + 'px';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            feather.replace();
        });
    </script>

</body>

</html>
